@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
.header{
    width: 100%;
}
.beta_text{
    background-color: #23ACDE;
    color: #fff;
    padding: 6px 10px;
    font-size: 15эpx;
    text-align: center;
    margin-bottom: 30px;
}
.header_inner{
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
}
.header_title_text{
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
}

.header_info{
    width: 311px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deposit_btn{
    background-color: #23ACDE;
    border: none;
    color: #fff;
}
.wallet_btn{
    background-color: transparent;
    width: 158px;
    border: 2px solid #fff;
    color: #23ACDE;
}
.deposit_btn, .wallet_btn{
    cursor: pointer;
    transition: .3s linear;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 18px;
    height: 40px;
}
.deposit_btn:hover{
    background-color: #0B5ED7;
}
/* MENU */
.menu{
    background-color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.menu_decoration_item{
    width: 3.5px;
    height: 3.5px;
    background-color: #000;
    border-radius: 50%;
}

/* POP MENU */
.menu_wrapper{
    position: relative;
}
.pop_menu{
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 999;
    padding: 20px;
    width: 170px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(69, 88, 190, 0.1);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.pop_menu_hidden{
    display: none;
}

.menu_link{
    text-decoration: none;
    margin-bottom: 16px;
    font-size: 16px;
    color: #212529;
    transition: .1s linear;
}
.menu_link:nth-child(7){
    margin-bottom: 0;
}
.menu_link:hover{
    color: #000;
}