
.overlay{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.614);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1055;
}

.modal_container{
    max-width: 500px;
    overflow: hidden ;
}
.modal_container_details{
    max-width: 900px;
    max-height: 80vh;
    overflow-y: scroll;
}
.modal_container,.modal_container_details{
    padding: 16px;

    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(69, 88, 190, 0.1);
    border-radius: 10px;
}
.top_layer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: normal;
}
.info{
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #F0F0F0;
    
    padding: 20px;

    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
}

/* DETAIL MODAL */
.details{
    width: 300px;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 20px;
}
.details_wrapper{
    display: flex;
    gap: 20px;
}
.details_options{
}
.details_sm{
    width: 300px;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 20px;
    max-height: 300px;
}
.details_option{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.details_subtext{
    color: #23ACDE;
    font-size: 10px;
    text-align: left;
}
.details_title{
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #23ACDE;
    font-weight: 500;
}
.details_unwrapped{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px;
    align-items: center;
    text-align: left;
}
.btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.popup_btn{
    border: 1px solid;
    width: 360px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 10px;
    color: #23ACDE;
    background-color: #E0E3F5;
}


/* CONNECT WALLET */
.connect_wallet{
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 10px;
}
.connect_wallet_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 0;
}
.connect_item{
    display: flex;
    align-items: flex-start;
}
.connect_item h4, .connect_item p{
    margin: 0;
}
.connect_btn{
    width: 120px;
    height: 45px;
    padding: 10px 0;
    font-size: 16px;
    background-color: #23ACDE;
    transition: .3s linear;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.connect_btn:hover{
    cursor: pointer;
    background-color: #0B5ED7;
}