
.overlay{
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.614);
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.overlay body{
    overflow: hidden;
}
.overlay::-webkit-scrollbar {
    display: none;
  }
.modal_container{
    max-width: 500px;
    overflow: hidden ;
}
.modal_container_details{
    max-width: 900px;
    max-height: 80vh;
    overflow-y: scroll;
}
.support_modal_container{
    max-width: 900px;
}
.modal_container,.modal_container_details,.container_buy_tarif,.support_modal_container{
    padding: 16px;

    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(69, 88, 190, 0.1);
    border-radius: 10px;
}
.container_buy_tarif{
    max-width: 700px;
}
.top_layer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: normal;
    position: relative;
}
.info{
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #F0F0F0;
    
    padding: 20px;

    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
}
.clost_btn_outlayer{
    position: absolute;
    top: 0;
    right: 0;
}
.close_btn{
    width: 30px;
    height: 30px;
    position: relative;
}
.close_btn:hover{
    cursor: pointer;
}
.close_btn_item1,.close_btn_item2{
    background-color: #6d6c6d;
    height: 2px;
    width: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5px;
}
.close_btn_item1{
    transform: rotate(45deg);
}
.close_btn_item2{
    transform: rotate(-45deg);
}
/* DETAIL MODAL */
.details{
    width: 300px;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 20px;
}
.details_wrapper{
    display: flex;
    gap: 20px;
}
.details_title_wrapper{
    text-align: left;
    margin-bottom: 10px;
}
.details_title_wrapper h3{
    margin: 10px 0;
}
.details_title_wrapper span{
    font-size: 14px;
}
.details_sm{
    width: 300px;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 20px;
    max-height: 300px;
}
.airdrop_name{
    color: #23ACDE;
    margin-left: 5px;
}
.details_option{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.details_subtext,.details_subtext_center{
    color: #23ACDE;
    font-size: 10px;
}
.details_subtext{
    text-align: left;
}
.details_subtext_center{
    text-align: center;
}
.details_title{
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #23ACDE;
    font-weight: 500;
}
.details_unwrapped{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    align-items: center;
    text-align: left;
    font-size: 12px;
    background-color: #E8E8E8;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0000004d;
}
.details_btn{
    border: none;
    background-color: transparent;
    color: #23ACDE;
    text-decoration: underline;
    font-size: 16px;
}
.details_btn:hover{
    cursor: pointer;
    outline: none;
}
.btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.popup_btn{
    border: 1px solid;
    width: 360px;
    padding: 16px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 10px;
    color: #23ACDE;
    background-color: #E0E3F5;
    transition: .3s linear;
}
.popup_btn:hover{
    cursor: pointer;
    color: #E0E3F5;
    background-color: #23ACDE;
}


/* CONNECT WALLET */
.connect_wallet{
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
}
.connect_wallet_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 0;
}
.connect_item{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.connect_item h4, .connect_item p{
    margin: 0;
}
.connect_btn{
    width: 120px;
    height: 45px;
    padding: 10px 0;
    font-size: 16px;
    background-color: #23ACDE;
    transition: .3s linear;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.connect_btn:hover{
    cursor: pointer;
    background-color: #0B5ED7;
}
.select_net,.select_amount{
    border: 1px solid #E0E3F5;
    border-radius: 10px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.net_button{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    padding: 10px 0;
}
.amout_btn_wrapper{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.amout_title{
    text-align: center;
    color: #000;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 500;
}
.amount_btn{
    background-color: #6d6c6d;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.amount_btn:focus{
    background-color: #23ACDE;
}
.deposit_title_wrapper{
    max-width: 400px;
    text-align: left;
}
.deposit_title_wrapper h3{
    margin-top: 0;
    margin-bottom: 10px;
    max-width: 300px;
}
.deposit_subtitle{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.deposit_subtitle p{
    margin: 0;
    margin-bottom: 40px;
}

/*  */
.grp{
    background-color: #F0F0F0;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
}
.grp_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grp_row1{
    justify-content: center;
}
.row_name p{
  margin: 12px;
}
.row_name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row_mid,.row_mid_title{
    width: 20%;
    word-break: break-all;
}
.row_mid_title{
    font-size: 16px;
    font-weight: 500;
}
.row_mid{
    font-size: 14px;
}
.row_btn_dsbld,.row_btn{
    width: 40%;
}
.row_name{
    width: 30%;
}
.row_btn{
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #23ACDE;
    border: none;
    font-size: 16px;
}
.check_area{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0 0 0 10px;
}
.buytarif_description{
    font-size: 14px;
    color: #6d6c6d;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* SUPPORT MODAL */
.support_content{
    width: 700px;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 10px;
}
.support_send_btn{
    width: 100px;
    padding: 10px;
    color: #fff;
    background-color: #23ACDE;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}
.support_input_wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.support_input_wrapper input,.support_input_wrapper textarea{
    width: 99%;
}
.support_input_wrapper textarea{
    resize: vertical;
}
@media screen and (max-width:760px){
    .support_content{
        width: 500px;
    }
}
@media screen and (max-width:990px) {
    .details_wrapper{
        flex-direction: column;
    }
    .details_sm{
        width:fit-content;
    }
    .details{
        width:fit-content;
    }
}
@media screen and (max-width:595px){
    .modal_container,.modal_container_details,.container_buy_tarif{
        margin: 10px;
    }
    .support_content{
        width: 300px;
    }
    .info{
        max-height: 400px;
        overflow-y: scroll;
    }
    .row_name{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:321px){
    .support_content{
        width: 250px;
    }
}