.overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.614);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 999;
}
.modal_container{
    max-width: 500px;
}
.modal_container_details{
    max-width: 900px;
}
.modal_container,.modal_container_details{
    padding: 16px;

    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(69, 88, 190, 0.1);
    border-radius: 10px;
}
.top_layer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: normal;
}
.info{
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #F0F0F0;
    
    padding: 20px;

    font-size: 14px;
    font-weight: 500;
    text-align: left;
    line-height: 25px;
}

/* DETAIL MODAL */
.details{
    width: 300px;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 20px;
}
.details_wrapper{
    display: flex;
    gap: 20px;
}
.details_options{
}
.details_option{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 10px;
    border-bottom: 1px solid #dddddd;
}
.details_subtext{
    color: #23ACDE;
    font-size: 10px;
    text-align: left;
}
.details_title{
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #23ACDE;
    font-weight: 500;
}