@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
.App {
  text-align: center;
  background-color: #e9ecef;
  padding: 0 0 1px 0;
  font-family: 'Inter', sans-serif;
}
